html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #333;
}

body {
    background-color: #EEE;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

table th {
    text-align: left;

}

table th,
table td {
    padding: 0 20px 10px 0px;
}

article ul li {
    margin: 20px;
}